<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jonathan Gruber Imperva">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="favico.png">

    <title>Account Incapsula Dashboard</title>
    <!-- CSS LIBRARIES -->
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="css/calendar2/semantic.ui.min.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- LOAD SIDEBAR -->
    <script>
        $(function () {
            $("#sidebar").load("sidebar.html");
        });
    </script>

    <style>
        th {
            font-size: 13px;
        }

        td {
            font-size: 13px;
        }
    </style>
</head>


<body class="fix-header fix-sidebar">
    <!-- page wrapper -->
    <div class="main-wrapper">

        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="dashboard.php">
                        <!-- Dashboard logo icon  -->
                        <ul>
                            <li style="font-size:30;color:#37347F"><img src="incapse.png" alt="homepage"
                                    class="dark-logo" style="max-width: 190px; height:auto;margin-right: 2.5em" /> </li>
                        </ul>
                    </a>
                </div>
                <!-- End Logo -->

            </nav>
        </div>

        <!-- Left Sidebar  -->
        <div id="sidebar" class="left-sidebar">
        </div>
        <!-- End Left Sidebar  -->


        <!-- Container fluid for central page  -->
        <div class="page-wrapper">
            <div class="container-fluid">

<div class="d-flex justify-content-center align-items-center" id="main">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
    <div class="inline-block align-middle">
    	<h2 class="font-weight-normal lead" id="desc">Oups! The page you requested was not found.</h2>
    </div>
</div>
            </div>
        </div>
    </div>

            {{>footer}}  

</body>