<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jonathan Gruber Imperva">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="favico.png">

    <title>Account Incapsula Dashboard</title>
    <!-- CSS LIBRARIES -->
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="js/lib/jquery/jquery.min.js"></script>
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/jquery.slimscroll.js"></script> <!-- to have scroll within a div part -->
    <script src="js/scripts.js"></script>
    <script src="js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="css/calendar2/semantic.ui.min.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- LOAD SIDEBAR -->
    <script>
        $(function () {
            $("#sidebar").load("sidebar.html");
        });
    </script>

 <!--   <style>
        th {
            font-size: 13px;
        }

        td {
            font-size: 13px;
        }
    </style> -->
</head>


<body class="fix-header fix-sidebar">
    <!-- page wrapper -->
    <div class="main-wrapper">

        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                        <!-- Dashboard logo icon  -->
                        <ul>
                            <li style="font-size:30;color:#37347F"><img src="incapse.png" alt="homepage"
                                    class="dark-logo" style="max-width: 190px; height:auto;margin-right: 2.5em" /> </li>
                        </ul>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- 3 LINES WHEN BROWSER COMPRESSED  -->
                        <li class="nav-item m-l-4"> <a class="nav-link sidebartoggler text-muted  "
                                href="javascript:void(0)"><i class="fa fa-th-large"></i></a> </li>
                        <li>
                            <h3 class="text-primary"> Account Level Dashboard: Debugging </h3>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Left Sidebar  -->
        <div id="sidebar" class="left-sidebar">
        </div>
        <!-- End Left Sidebar  -->


        <!-- Container fluid for central page  -->
        <div class="page-wrapper">
            <div class="container-fluid">


                <div class="card col-lg-8">
                    <div class="card-title">
                        <h2>API Calls Status</h2> <br>
                    </div>
                    <div class="table-responsive">
                        <table id="debugging_table" class="table">
                            <thead>
                                <tr>
                                    <th>API Call</th>
                                    <th>API Path</th>
                                    <th>Response Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sites Lists & Settings</td>
                                    <td>/api/prov/v1/sites/list</td>
                                    <td id="site_list"> status</td>
                                </tr>
                                <tr>
                                    <td>Account Global Statistics</td>
                                    <td>/api/stats/v1</td>
                                    <td id="stats"><span >fetching status</span></td>
                                </tr>
                                <tr>
                                    <td>Account Subscription</td>
                                    <td>/api/prov/v1/accounts/subscription</td>
                                    <td id="subscription"><span  >fetching status</span></td>
                                </tr>
                                <tr>
                                    <td>Account General Information</td>
                                    <td>/api/prov/v1/account</td>
                                    <td  id="general"><span >fetching status</span></td>
                                </tr>
                                <tr>
                                    <td>List Subaccounts (optional call)</td>
                                    <td>/api/prov/v1/accounts/listSubAccounts</td>
                                    <td id="subaccounts"><span >fetching status</span></td>
                                </tr>
                         <!--       <tr>
                                    <td>List Accounts (optional call)</td>
                                    <td>/api/prov/v1/accounts/list</td>
                                    <td id="accounts_list">fetching status</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card col-lg-8">
                    <div class="card-title">
                        <h2>Diagnosis</h2> <br>
                    </div>
                    <div id = "diagnosis">
                        <li><span style = "font-weight:bold">1- "Sites Lists & Settings" mentions an authentication problem: </span>try using the account admin API keys</li>
                        <li><span style = "font-weight:bold">2a- All APIs say "file not found": </span>If using Linux, the application may no have "Write" permissions on the dashboard folder to write the json files. Change permissions to allow "Write" on that folder</li>
                        <li><span style = "font-weight:bold">2b- All APIs say "file not found": </span>The API calls might not be sent properly. 
                        </br>- Common reasons: a network reason, or an issue with xampp or the web server unable to send APIs. 
                        </br>- if using Xampp, try the following steps:  Check that you have the curl-ca-bundle.crt file in your C:\xampp\apache\bin if you are using Xampp. (grab from https://github.com/bagder/ca-bundle if you don't have it and use the right name)</li>
                        <li><span style = "font-weight:bold">3- "Sites Lists & Settings" says OK but other calls </span>(except the optionals) give an error: most likely to be a permission issue</li>
                        <li>.</li>
                        <li><span style = "font-weight:bold">IMPORTANT: </span>make sure you delete all json files in the dashboard folder before running the tool again</li>
 
                    </div>
            </div>


            </div>
        </div>
    </div>

            {{>footer}}  

</body>






<!-- START OF JAVASCRIPT SCRIPTS -->


<script>
    $(document).ready(function () {
        $.ajax({
            url: 'export_account_stats.json',
            datatype: 'json',
            type: 'get',
            cache: false,
            success: function (result) {
                document.getElementById("stats").textContent = result.res_message;
                if(result.res_message != "OK"){
                    document.getElementById("stats").classList.toggle('badge-danger');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                document.getElementById("stats").textContent = "file not found";
            }
        });

        $.ajax({
            url: 'export_sites.json',
            datatype: 'json',
            type: 'get',
            cache: false,
            success: function (result) {
                if(typeof result.res_message === "undefined"){
                    document.getElementById("site_list").innerHTML = "OK";
                }else{
                    document.getElementById("site_list").textContent = result.res_message;
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                document.getElementById("site_list").textContent = "file not found";
            }
        });

        $.ajax({
            url: 'export_account_subscriptions.json',
            datatype: 'json',
            type: 'get',
            cache: false,
            success: function (result) {
                document.getElementById("subscription").textContent = result.res_message;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                document.getElementById("subscription").textContent = "file not found";

            }
        });

        $.ajax({
            url: 'export_account_plan.json',
            datatype: 'json',
            type: 'get',
            cache: false,
            success: function (result) {
                document.getElementById("general").textContent = result.res_message;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                document.getElementById("general").textContent = "file not found";
            }
        });

        $.ajax({
            url: 'export_subaccounts.json',
            datatype: 'json',
            type: 'get',
            cache: false,
            success: function (result) {
                document.getElementById("subaccounts").textContent = result.res_message;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                document.getElementById("subaccounts").textContent = "file not found";
            }
        });


        $( document ).ajaxStop(function() {
        $('#debugging_table td').each(function () {
           // alert($(this).text());
                if ($(this).text() == "OK") { $(this).css('background-color', '#82E0AA')}; //green
                if ($(this).text() == "Operation not allowed") $(this).css('background-color', '#FAD7A0'); //orange
                if ($(this).text() == "file not found") $(this).css('background-color', "#D98880"); //red
                if ($(this).text() == "Authentication missing or invalid") $(this).css('background-color', "#D98880"); //red
                });
            });

    });


</script>