<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jonathan Gruber Imperva">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="favico.png">

    <title>Account Incapsula Dashboard</title>
    <!-- CSS LIBRARIES -->
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="js/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!-- LOAD SIDEBAR -->



</head>

<body>

    <div class="main-wrapper">
        <!-- HEADER BAR  -->
        {{>header}}
    </div>
    <!-- Container fluid for central page  -->
    <div class="page-wrapper">

        <div class="card col-lg-12">
            <div class="card-title">
                <h2>version info</h2> <br>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Update Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>27th December 2019:</td>
                            <td class="color-primary">v3.0 Entire backend code rewrite in NodeJS; <p></p>LIMITATIONS: Bulk action don't work yet <p></p> pagination is not coded yet (so supports up to 100 sites only)
                                </td>
                        </tr>
                        <tr>
                            <td>28th July 2019:</td>
                            <td >v2.17 Added Whitelist IPs bulk actions and Alert Only options</td>
                        </tr>
                        <tr>
                            <td>1st July 2019:</td>
                            <td>v2.15 Added diagnosis and troubleshooting tab</td>
                        </tr>
                        <tr>
                            <td>12th April 2019:</td>
                            <td >v2.13 New audit report calculation</td>
                        </tr>
                        <tr>
                            <td>1st April 2019:</td>
                            <td >v2.1 More explicit error messages in case of success and
                                error</td>
                        </tr>
                        <tr>
                            <td>29 March 2019:</td>
                            <td class="color-primary">v2.0 new Bulk action options: change security settings,
                                add IP to blacklist</tdclass="color-primary">
                        </tr>
                        <tr>
                            <td>7th January 2019:</td>
                            <td>v1.6 improved UI with features, subscription. New
                                reporting & export to pdf</td>
                        </tr>
                        <tr>
                            <td>15th December 2018:</td>
                            <td>v1.5 Support of pagination for accounts with >100 sites </td>
                        </tr>
                        <tr>
                            <td>25 October 2018:</td>
                            <td>25 October 2018: v1.2 exportable tables </td>
                        </tr>
                        <tr>
                            <td>1st July 2018:</td>
                            <td>1st July 2018: v1.0 First upload to Github </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>


    {{>footer}}

</body>