<html>

<header>


        <!-- HEADER BAR  -->
        <div class="header">
            <!-- Dashboard logo icon  -->

                    <h3 class="text-dark" style="flex-grow: 3"> {{title}} </h3>
            <a href="login   " aria-expanded="false"><i class="fa fa-edit"></i><span class="hide-menu">Login</span></a>
            <a href=" dashboard   " aria-expanded="false"><i class="fa fa-tachometer"></i><span
                    class="hide-menu">Account Dashboard</span></a>
            <a href=" raw_tables   " aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Detailed
                    Tables</span></a>
            <a href="bulk_changes   " aria-expanded="false"><i class="fa fa-rocket"></i><span class="hide-menu">Bulk
                    Changes</span></a>
            <a href="version_info   " aria-expanded="false"><i class="fa fa-file-text-o"></i><span
                    class="hide-menu">Version info</span></a>
            <a href="debugging   " aria-expanded="false"><i class="fa fa-code"></i><span
                    class="hide-menu">Debugging</span></a>
            <button class="btn btn-info" onclick="printPage()" style="font-size: 18px;">Generate PDF </button>

        </div>
    </div>

</header>
</html>
